

img {
    width: 200px;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: gray;
}

.user-name {
    font-size: 16px;
    font-weight: 500;
}

.linkSearch {
    display: block;
}
.movies-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}